.emacs.desktop
.emacs.desktop.lock
.saves/
ac-comphist.dat
auto-save-list/
elpa/
ido.last
network-security.data
smex-items
tramp
.historian
.session
.uptimes.el
history
recentf
bookmarks
image-dired
.lsp*
projects
custom.el
